*{
  margin: 0;
  padding: 0;
}
body{
  background-color: darkgrey;
  font-family: sans-serif;
}
.container {
  min-height: 100vh;
  padding: 50px 100px;
  position: relative;
}
.circle1{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: blue;
  position: absolute;
  background-color: #286188;
  top: 10px;
  left: 115%;
  text-align: center;
  color: white;
  z-index: 2;
}
.middle{
  width: 25px;
}
/* ///////////////////////////////////////////// Circle */
/* .box::before{
  content:"";
  display: inline-block;
  width: 23px;
  height:23px;
  border-radius: 100px;
  background-color: #286188;
  position: absolute;
  left: -85px;
  top: 15px;
} */
/* ////////////////////////////////////////////////Line */

.middle::after{
  content: "";
  position: absolute;
  height: 105%;
  width: 4px;
  left: 50%;
  top: 50px;
  background-color: #286188;
}
.box{
  width: 400px;
  height: 205px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #00000044;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}
/* /////////////////////////////////White Triangles */
  .box1::after {
  content: "";
  height: 0;
  width: 0;
  border-left: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  top: 50px;
  left: 400px;
  color: #fff;
}
.box1{
  animation: move-in-left ease-in 1.7s;
}
.box2{
  height: 290px;
  animation: move-in-right ease-in 1.7s;
  /* position: relative; */
  float: right;
  margin-top: 250px;
}
.circle2{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: blue;
  position: absolute;
  background-color: #286188;
  right: 115%;
  text-align: center;
  color: white;
  z-index: 2;
}
.box2::after {
  content: '';
  border-right: solid 10px #000;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  top: 50px;
  right: 100%;
}
.box1 > h1{
  padding: 20px;
}
.box2 > time {
  float: left;
}
.box2 > h1{
  padding-top: 100px;
  padding-left: 30px;
  margin: 0;
  background: url("../images/BeethovenStatue.jpeg");
  background-repeat: no-repeat;
  background-size: 520px 520px;
  color: #fff;
}
.box2 > p {
  padding: 10px;
}
.box3{
  height: 175px;
  animation: move-in-left ease-in 1.7s;
  margin-top: 505px;
  position: relative;
}
.circle3{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: blue;
  position: absolute;
  background-color: #286188;
  top: 10px;
  left: 115%;
  text-align: center;
  color: white;
  z-index: 2;
}
.box3::after {
content: "";
height: 0;
width: 0;
border-left: solid 10px #fff;
border-bottom: solid 10px transparent;
border-top: solid 10px transparent;
position: absolute;
top: 50px;
left: 400px;
color: #fff;
}
.box3 > h1{
  padding: 20px;
}
.box3 > p {
  padding: 0 20px;
  border-left: 4px solid #286188;
}
.box3::after{
  content: "";
  height: 0;
  width: 0;
  border-left: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  top: 50px;
  left: 100%;
  color: #fff;
}
time{
  background-color: #EC515C;
  color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  float: right;
  text-transform: uppercase;
}
button{
  border: none;
  background-color: #286188;
  color: white;
  padding: .3rem .8rem;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px;
  text-transform: uppercase;
}
button:hover{
  background-color: #46a4e3;
  color: black;
}
p{
  margin: 0 20px;
}
h1{
  padding: 0;
  margin: 0;
  display: block;
}
i{
  padding-top:  15%;
}
@keyframes move-in-left {
  from{
    transform: translateX(-1000px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-in-right {
  from {
    transform: translateX(1000px);
    opacity: 0;
  }

  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 966px) {
  .box{
    float: right;
  }
  .box1{
    animation: move-in-right ease-in 1.7s;
  }
  .middle::after{
      height: 300%;
      left: 15%;
  }
}
