*{
  margin: 0;
  padding: 0;
}
body{
  background-color: darkgrey;
}
.container {
  width: 100%;
}
.column{
  float: left;
}
.left, right {
  width: 45%;
}
.middle{
  width: 10%;
}
.middle::after{
  content: "";
  position: absolute;
  margin-top: 50px;
  height: 160%;
  width: 4px;
  background-color: #286188;
}
.box{
  width: 400px;
  height: 200px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #00000044;
  border-radius: 3px;
}
.box1{
  margin: 50px 80px;
}
.box2{
  margin: 350px 40px;
  height: 275px;
}
.box1 > h1{
  padding: 20px;
}
.box2 > time {
  float: left;
}
.box2 > h1{
  padding-top: 100px;
  padding-left: 30px;
  margin: 0;
  background: url("../images/statue.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.box2 > p {
  padding: 10px;
}
.box3{
  margin: 350px 80px;
  height: 175px;
}
.box3 > h1{
  padding: 20px;
}
.box3 > p {
  padding: 0 20px;
  border-left: 4px solid #286188;
}
time{
  background-color: #EC515C;
  color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  float: right;
  text-transform: uppercase;
}
button{
  border: none;
  background-color: #286188;
  color: white;
  padding: .3rem .8rem;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px;
  text-transform: uppercase;
}
button:hover{
  background-color: #46a4e3;
  color: black;
}
p{
  margin: 0 20px;
}
h1{
  padding: 0;
  margin: 0;
  display: block;
}
