*{
  margin: 0;
  padding: 0;
}
body{
  background-color: darkgrey;
}
.container {
  width: 100%;
}
.column{
  float: left;
}
.left, right {
  width: 45%;
}
.middle{
  width: 10%;
}
.middle::after{
  content: "";
  position: absolute;
  margin-top: 50px;
  height: 80%;
  width: 4px;
  background-color: #286188;
}
.box{
  width: 400px;
  height: 200px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #00000044;
  border-radius: 3px;
}
.box1{
  margin: 50px 80px;
}

.box::after{
  content: "";
  position: absolute;
  display: table;
}
time{
  background-color: #EC515C;
  color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  float: right;
  text-transform: uppercase;
}
button{
  border: none;
  background-color: #286188;
  color: white;
  padding: .3rem .8rem;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px;
  text-transform: uppercase;
}
p{
  margin: 0 20px;
}
h1{
  padding: 20px;
  margin: 0;
}
